<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar um animal</title>
</head>
<body>
    <h2>Alterar um animal: </h2>
    <form action="/animais/<%=animal.especie%>?_method=PATCH" method="post">
        <label for="especie">Espécie: </label>
        <input type="text" name="especie" id="especie" value="<%=animal.especie%>"readonly> <br>

        <label for="idade">Idade: </label>
        <input type="text" name="idade" id="idade" value="<%=animal.idade%>"> <br>

        <label for="porte">Porte: </label>
        <input type="text" name="porte" id="porte" value="<%=animal.porte%>"> <br>

        <button>Alterar</button>
    </form> <br>
    <a href="/animais"><button>Voltar</button></a>
</body>
</html>