<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar novo animal</title>
</head>
<body>
    <h2>Adicionar um novo animal: </h2>
    <form action="/animais/" method="post">
        <label for="especie">Espécie: </label>
        <input type="text" name="especie" id="especie"> <br>

        <label for="idade">Idade: </label>
        <input type="text" name="idade" id="idade"> <br>

        <label for="porte">Porte: </label>
        <input type="text" name="porte" id="porte"> <br>

        <button>Enviar</button>
    </form> <br>
    <a href="/animais"><button>Voltar</button></a>
</body>
</html>