<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palíndromo</title>
</head>
<body>
    <% if(palavra_original) { %>
    <h2>O inverso de <%= palavra_original %> é: <%= palavra_invertida %></h2>
    <% if(palindromo) { %>
        <h3>A palavra <%= palavra_original %> é palíndromo!</h3>
        <% } %>
    <% } else { %>
        <h2>Por favor, digite a query string "q".</h2>
    <% } %>
</body>
</html>